/* You can add global styles to this file, and also import other style files */
.title-orange {
    color: orange;
}

.title-blue {
    color: rgb(0, 130, 211);
}

blockquote {
    font-size: 12px !important;
}